@import './colors.scss';

.app {
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: $bluegrey;
		strong {
			font-style: normal;
			font-weight: normal;
			color: $bluegrey2;
		}
	}

	figure {
		display: block;
		padding: 0;
		margin: 0;

		figcaption {
			font-style: italic;
			font-size: 0.8em;
			text-align: center;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}
	}

	background-color: $black;
	color: $text;
	font-family: 'KaTeX_Main';

	h1 {
		text-align: center;
		margin-bottom: 5rem;
		margin-top: 5rem;
	}

	dfn ul {
		margin-left: 1em;
		margin-top: 0;
		font-size: 0.95rem;
		padding: 0;
	}

	dfn {
		display: block;
		width: 70%;
		font-style: normal;
		margin: 1em auto;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 0.9rem;

			width: 100%;
			margin: 5px 0;
			padding: 0.2em 0;
			border-bottom: solid thin $black;
			border-top: solid thin $black;
		}

		padding: 0 0.9em;

		section {
			margin: 0;
		}
	}

	:global .katex {
		font-size: 1.1rem;
	}

	:global .texttt {
		font-family: 'Fira Code', 'KaTeX_Typewriter';
		font-size: 0.95rem;
	}

	code {
		font-family: 'Fira Code';
		font-size: .95rem;
	}

	h1 code,
	h2 code,
	h3 code,
	h4 code,
	h5 code,
	h6 code {
		font-size: 0.9em;
	}

	table {
		border-collapse: collapse;
		width: fit-content;
		margin: 0 auto;
		font-size: 0.95rem;
		thead {
			border-bottom: solid thin $ash;
		}

		tr td:not(:first-child) {
			border-left: solid thin $ash;
		}

		td {
			padding: 0.2em 0.5em;
		}

		th {
			padding: 0.2em 0.8em;
			font-weight: 600;
		}
	}

	a {
		color: $grey;
		text-decoration: none;
	}


	section {
		margin: 0;
	}

	section p:first-of-type {
		margin-top: 0.3em;
	}

	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 1.1rem;
	}

	h6 {
		font-size: 1rem;
	}

	nav {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}


	h2,
	h3,
	h4,
	h5,
	h6,
	nav,
	th {
		margin-bottom: 0;

		code {
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}

		em strong {
			color: inherit;
			font-weight: normal;
		}
	}

	nav {
		position: absolute;
		z-index: 10;
		height: 20px;
		width: 100vw;

		a {
			color: inherit;
		}

		ul {
			background-color: $black;
			border-bottom: solid thin $black;
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 0.5em 1em;

			button {
				color: inherit;
				background-color: inherit;
				border: none;
			}
		}
	}

	footer {
		height: fit-content;
		display: flex;
		justify-content: center;
		margin-top: 20%;
		height: 100px;
		color: rgb(113, 136, 136);
	}
	.page{
		max-width: 700px;
		margin: 0 auto;
		padding-left: 2em;
		padding-right: 2em;
	}

	main {
		background-color: $blue2;
		font-size: 1.1rem;
		position: absolute;
		font-family: 'KaTeX_Main';
		top: 30px;
		overflow: auto;
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100vw;
	}

	aside {
		border-top: solid thin $blue1;
		border-bottom: solid thin $blue1;
		color: rgb(183, 244, 244);
	}
}