@import './variables.scss';

@mixin dark-mode {
  background-color: color(black2);
  color: white;
}
@mixin light-mode {
  background-color: color(white1);
  color: color(black2);
}

.app {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  ol, ul {
    margin: 5px;
  }
  ol ol {
    list-style: lower-alpha;
  }
  ol li, ul li {
    padding: 0.5em;
  }

  table, td, th {
    border-collapse: collapse;
    border: solid thin lightgrey;
  }
  
  table {
    th {
      color: rgb(50, 65, 80);
    }
    td, th {
      padding: 5px;
    }
    td {
      text-align: left;
    }
  }
  h2,h3,h4,h5,h6 {
    color: rgb(83, 97, 111);
  }
  h3 strong {
    color: slategrey;
    padding: 1px 5px;
    font-weight: normal;
    font-style: italic;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 5px;
  }
  figcaption {
    font-style: italic;
    font-size: 0.8rem;
    margin: 5px auto;
    text-align: center;
  }
  main {
    margin-top: 50px;
  }
  blockquote {
    p:last-child {
      margin-bottom: 0;
    }
    p:first-child {
      margin-top: 0;
    }
  }
  p {
    line-height: 1.5;
  }
  h1 + p,
  h1 + blockquote,
  h2 + p,
  h2 + blockquote,
  h3 + p,
  h3 + blockquote,
  h4 + p,
  h4 + blockquote,
  h5 + p,
  h5 + blockquote h6 + p,
  h6 + blockquote {
    margin-top: -1.2rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.1rem;
  }
  a {
    text-decoration: none;
  }
}

.underline {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.tile {
  margin-bottom: 10vh;
}
