@import './colors.scss';

.col2 {
	display: grid;
	grid-template-columns: 8fr 9fr;
}

.hstack {
	display: flex;
	justify-content: space-evenly;
	gap: 5px;
}

.floatLeft {
	float: left;
	margin: 0;
}

.floatRight {
	float: right;
	margin: 0;
	margin-left: 2em;
}

.figcap {
	font-style: italic;
	font-size: 1.2rem;
	text-align: center;
	margin: 0.2rem 0;
	padding: 0;

	p {
		margin: 0;
	}
}

.p1 {
	font-size: 1.6rem;
	font-variant: small-caps;
	margin: 0;
	margin-top: 5rem;
	padding: 0;
	display: block;
	text-align: center;

	p {
		margin: 0;
		padding: 0;
	}
}

:global .hstack {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		flex: 1;
	}
}

.tbl {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.95rem;
	table {
		margin: 2% 0 !important;
		width: 100%;
		border: solid thin $bluegrey2;
		border-collapse: collapse;
		color: $bluegrey;
		font-family: 'Fira Code';
		td {
			padding: 0.5em !important;
			border: solid thin $bluegrey2;
		}
		th {
			border: solid thin $bluegrey2;
		}
		td code {
			font-size: 1rem !important;
		}
	}
}

:global .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
}