$blue0: #f7fafc;
$blue1: #cbd9e6;
$blue2: #3b4659;
$brightblue: #4b7699;
$bluegrey: #bbe7f0;
$bluegrey2: #8fbac3;
$grey: #81a1aa;
$black: #45474d;
$red1: #c4452e;
$ash: #c8c8c8;
$text: #e7e7e7;
$bold: #ffffff;
$yellow: rgb(242, 233, 179);
$blackText: #282828;