* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overscroll-behavior:none;
	overflow: hidden;
}
button:hover {
	cursor: pointer;
}

html {font-size: 14px;}

em strong {
	font-variant: small-caps;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;
}

pre code {
	font-size: 0.95rem !important;
}
pre {
	line-height: 1.5;
}

